@{
    ViewData["Title"] = "HR Dashboard";
}

<h1>HR Dashboard</h1>

<div>
    <h2>Actions</h2>
    <ul>
        <li>
            <a asp-controller="HR" asp-action="EditLecturer">Edit Lecturer</a>
        </li>
        <li>
            <a asp-controller="HR" asp-action="GenerateReport">Generate Report</a>
        </li>
        <li>
            <a asp-controller="HR" asp-action="GenerateInvoice">Generate Invoice</a>
        </li>
    </ul>
</div>
