@model IEnumerable<ClaimSystem.Models.Lecturer>

@{
    ViewData["Title"] = "HR Dashboard";
}
<h1>HR Dashboard</h1>
<div>
    <a asp-action="ManageLecturers">Manage Lecturers</a>
</div>
<div>
    <a asp-action="GenerateClaimReports">Generate Claim Reports</a>
</div>

