@{
    ViewData["Title"] = "HR Dashboard";
}

<h1>HR Dashboard</h1>
<p>Welcome to the HR Dashboard!</p>
<div>
    <h2>Actions</h2>
    <ul>
        <li><a href="/HR/EditLecturer">Manage Lecturers</a></li>
        <li><a href="/HR/GenerateReportForm">Generate Report</a></li>
        <li><a href="/HR/GenerateInvoiceForm">Generate Invoice</a></li>
        <li><a href="/HR/ViewAllLecturers">View All Lectueres</a></li>
    </ul>

    <br />
    <a href="@Url.Action("Login", "Account")">Back to Login</a>
</div>
